<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Lab | IIT Roorkee</title>
    <link rel="stylesheet" href="header_opener_style.css">
</head>
<body>

    <!-- ====== TOP HEADER ====== -->
    <header class="iitr-header">
        <img src="./images/logo (1).png" class="iitr-logo" alt="IITR Logo">
        <div class="iitr-text">
            <div class="iitr-hindi">भारतीय प्रौद्योगिकी संस्थान रुड़की</div>
            <div class="iitr-english">Indian Institute of Technology Roorkee</div>
        </div>
    </header>

    <!-- ====== MAIN SECTION ====== -->
    <section class="hero">
        <div class="hero-box">
            <h1>EARTH SCIENCES Lab</h1>
            <button class="explore-btn" onclick="location.href='./index.html';">Explore</button>
        </div>
    </section>

    <!-- ====== CONTRIBUTION SECTION ====== -->
    <section class="contribution">
         <img src="./images/images__2_-removebg-preview.png" class="ESC-logo" alt="ESC-Logo">
        <img src="./images/logo (1).png" class="contrib-logo">
        <p>This lab is contributed by IIT Roorkee X Earth Science Department</p>
    </section>

    <!-- ====== FOOTER ====== -->
    <footer class="footer">
        <h3>Vlabs-Dev Team</h3>
        <p>INDIAN INSTITUTE OF TECHNOLOGY ROORKEE<br>
           ROORKEE, UTTARAKHAND<br>
           INDIA</p>
    </footer>

</body>
</html>
